<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zxl.cloudmanager">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".MemoActivity" />
        <activity android:name=".MyCheckActivity" />
        <activity android:name=".MyMessageAcivity" />
        <activity android:name=".MyLeaveActivity" />
        <activity android:name=".MyMissionActivity"/>
        <activity android:name=".MyPostActivity" />
        <activity android:name=".MyUseCaseActivity" />
        <activity android:name=".MyBugActivity" />
        <activity android:name=".MyOverTimeActivity" />
        <activity android:name=".MyTravelActivity" />
        <activity android:name=".ManagerCheckAcitvity" />
        <activity android:name=".ManagerLeaveActivity" />
        <activity android:name=".operation.MyOperationActivity" />
        <activity android:name=".leave.LeaveSearchActivity" />

        <!--公共查询-->
        <activity android:name=".publicSearch.list.ProjectListSearchActivity" />
        <activity android:name=".publicSearch.bug.ProjectBugSearchActivity" />
        <activity android:name=".publicSearch.memberList.MemberListActivity" />
        <activity android:name=".publicSearch.project.PublicSearchActivity" />
        <activity android:name=".publicSearch.usecase.UsecaseSearchActivity" />
        <activity android:name=".publicSearch.plan.MissionSearchActivity" />

        <!--领导查询-->
        <activity android:name=".leaderSearch.LeaderCheckSearchActivity" />
        <activity android:name=".leaderSearch.LeaderOvertimeSearchActivity" />
        <activity android:name=".leaderSearch.LeaderTravelSearchActivity" />
        <activity android:name=".leaderSearch.LeaderLeaveSearchActivity" />
        <activity android:name=".leaderSearch.LeaderPostSearchActivity" />

        <!--考勤主管-->
        <activity android:name=".checkManager.overtime.ManagerOvertimeActivity" />
        <activity android:name=".checkManager.travel.ManagerTravelActivity" />

        <!--项目主管-->
        <activity android:name=".projectManager.bugDeal.ProjectBugDealActivity" />
        <activity android:name=".projectManager.manager.ProjectManagerActivity" />
        <activity android:name=".projectManager.memberManager.ProjectMemberManagerActivity" />
        <activity android:name=".projectManager.mission.ProjectMissionManagerActivity" />
        <activity android:name=".projectManager.projectList.ProjectConnectionListActivity" />
        <activity android:name=".projectManager.usecase.ProjectUsecaseActivity" />
        

    </application>

</manifest>